{#
/**
 * @file node--news_pages.html.twig
 * Default theme implementation to present News pages CT.
 *
 * This template is used when viewing News pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_news_pages_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('news_pages_content') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
    <i>(Custom template)</i>
</div>